/* common elements */
*{
    margin: 0px;
    padding: 0px;
}
.hr1    {
    border: 2px;
    border-color: red;
    border-style: solid;
}


.maintitle{
    font-family: 'Lobster', cursive;
    color: rgb(250, 150, 150);
    font-size: 120px;
    text-align: center;

}
.subtitle1{
    font-family: 'Lobster', cursive;
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
    
}
.subtitle2{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    
}
/* navigation bar css strats  */

#navbar{
    display: flex;
    background-color: rgba(53, 198, 239, 0.535);
    height: 80px;
    align-items: center;
    font-family: 'Abril Fatface', cursive;
}




#logo{
    width: 15%;
  
}


#logoimg{
    height: 60px;
    margin: 12px 40px;
    border-radius: 25px;
}

/* navigationlink */
#navlinks{
    width: 70%;
    

    
}

#links{
    display: flex;
    list-style: none;
    /* text align center */
    justify-content: center;
}

.linkitem{      
}

.linka{
    padding:10px;
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;

}

#links a:hover{
    background-color: azure;
    color: rgb(169, 169, 169);
    transition: 1s;
}

.currentpage{
    border: 2px solid white ;
    border-radius: 20px;
}


/* social media links */

#socialmedia{
      margin-left: 80px; 
   
}

#socialmedia img{
border-radius: 10px;
}


#socialmedia img:hover{
    transform: scale(1.2);
    box-shadow:0px 0px 25px 0px rgb(255, 255, 255);;
    transition: 1s;
    }


/* navigation bar css ends */

/* home content css starts here  */
#homecontent{
    height: 854px;
background-image: url(platter-2009590_1280.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family:'Lobster', cursive;
color: aqua;
}
/* home content css ends here  */


/* facilities css starts */

#facilities{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    align-items: center;
    background-color: rgb(80, 35, 35);
}

/* facilities css ends */

    /* footer css */

    #footer{
        display: flex;
        background-color: rgba(53, 198, 239, 0.535);
        height: 50px;
        justify-content: center;
        /* align-items: center; */
        line-height:30px ;
        align-content: center;
        color: white;
        font-family: 'Abril Fatface', cursive;

    }





